@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-image: url(bolling.PNG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000px 500px;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
